.videoCard {
    width: 49%;
    height: 350px;
    margin: 30px 0;
    border-radius: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #6c757d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    letter-spacing: 0.025rem;
    font-size: 1rem;
}

.playButtonContainer {
    color: #8675ff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 80px;
    font-size: 5rem;
}

.playButton {
    z-index: 99;
    cursor: pointer;
}

.borderAnimation {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border: 0.55rem solid #adb5bd;
    border-radius: 50%;
    animation: pulse-border 2s linear infinite;
}

.firstBorder {
    animation-delay: 1s;
}

.secondBorder {
    animation-delay: 1.5s;
}

@keyframes pulse-border {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@media screen and (max-width: 767px) {
    .videoCard {
        width: 100%;
        margin: 0;
    }
}