.contributeButton {
    width: 100%;
    height: 100%;
}

.contributeIcon {
    font-size: 6rem;
    color: #8675ff;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.contributeIcon:hover {
    animation: breathing 1.5s ease-out infinite normal;
}

@keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }