.chartContainer {
    width: 100%;
    height: 400px;
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    .chartContainer {
      height: 250px;
    }
  }

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .chartContainer {
      height: 300px;
    }
  }