.home {
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    height: 40px;
    margin-right: 5px;
}

.main {
    width: 100%;
    display: grid;
    gap: 30px;
    margin-bottom: 30px;
    grid-template-areas: 
    "cardContainer1" 
    "cardContainer2"
    "cardContainer3"
    "cardContainer4" 
    "cardContainer5"
    "cardContainer6"
    "cardContainer7";
}

.cardContainer:nth-child(1) {
    grid-area: cardContainer1;
}
.cardContainer:nth-child(2) {
    grid-area: cardContainer2;
}
.cardContainer:nth-child(3) {
    grid-area: cardContainer3;
}
.cardContainer:nth-child(4) {
    grid-area: cardContainer4;
}
.cardContainer:nth-child(5) {
    grid-area: cardContainer5;
}
.cardContainer:nth-child(6) {
    grid-area: cardContainer6;
}
.cardContainer:nth-child(7) {
    grid-area: cardContainer7;
}

@media (min-width: 768px) {
    .main {
        margin: 0 auto;
        width: 80%;
        display: grid;
        gap: 30px;
        margin-bottom: 30px;
        grid-template-areas: 
            "cardContainer1 cardContainer1 cardContainer1 cardContainer1"
            "cardContainer2 cardContainer2 cardContainer2 cardContainer2" 
            "cardContainer3 cardContainer3 cardContainer4 cardContainer4"
            "cardContainer5 cardContainer5 cardContainer5 cardContainer5"
            "cardContainer6 cardContainer6 cardContainer6 cardContainer7";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}