.pageHeader {
    text-align: center;
}

.logo {
    height: 50px;
    margin-top: 10px;
}

.title, .subtitle {
    text-align: center;
    padding: 10px 20px;
    color: #000;
    font-weight: 500;
    letter-spacing: 0.125rem;
}

.subtitle {
    color: #6c757d;
    font-weight: 400;
    margin-bottom: 30px;
}