.dataCard {
    width: 70%;
    height: 250px;
    margin: 0 20px 50px 0;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #6c757d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    text-align: start;
    padding: 10px 0 0 50px;
    font-weight: 500;
    letter-spacing: 0.025rem;
    font-size: 1rem;
}

.graphMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.graphLink {
    border-radius: 20px;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 3rem;
    box-shadow: 0px 0px 5px #e2e7fa;
    color: #fff;
}

.graphLink:hover {
    background-color: #fff !important;
    color: #8675ff !important;
    outline: 2px solid;
}

.dataTitle {
    width: 100%;
    padding: 10px 5px;
    margin: 0 0 10px 0;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.0125rem;
}

.description {
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
    color: #6c757d;
}

/* mobile styles */
@media screen and (max-width: 767px) {
    .dataCard {
        width: 100%;
        height: 100%;
        margin: 0 0 30px 0;
    }

    .title {
        text-align: center;
        padding: 10px 0 30px 0;
    }

    .graphMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .graphLink {
        width: 200px;
        height: 200px;
    }

    .dataTitle {
        margin: 10px 0 40px 0;
        font-size: 1.2rem;
    }
}

/* tablet styles */
@media screen and (min-width: 768px) and (max-width: 1439px) {

    .dataCard {
        width: 70%;
        height: 350px;
    }

    .graphMenu {
        margin: 30px auto;
        margin-bottom: 0;
        width: 80%;
        max-width: 400px;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(3, 100px);
        justify-items: center;
        grid-column-gap: 10px;
        grid-row-gap: 15px; 
    }

    .graphLink {
        width: 100px;
        height: 100px;
        font-size: 2rem;
        margin-bottom: 0;
    }

    .dataTitle {
        font-size: 0.8rem;
    }
}

/* large devices styles */
@media screen and (min-width: 1440px) {
    .graphMenu {
        width: 90%;
        margin: 0 auto;
        margin-top: 0px;
        max-width: 1000px;
    }

    .graphLink {
        margin-bottom: 0;
    }
}