.pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.description {
    line-height: 1.75rem;
    width: 70%;
    margin: 50px auto;
    text-align: justify;
    color: #6c757d;
}