.error {
    width: 50%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: 500;
    letter-spacing: 0.075rem;
    font-size: 1.5rem;
}