/* Global styles */
.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #6c757d;
}

/* Dashboard cards styles */
.dashboardCard .title {
  text-align: center;
  padding: 10px 0;
  font-weight: 500;
  letter-spacing: 0.025rem;
  font-size: 1rem;
}

.dashboardCard .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboardCard .description, .dashboardCard .notALink {
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
    color: #6c757d;
  }

.dashboardCard .link:hover {
    text-decoration: underline;
  }
  
  /* Flip cards styles */
.flipCard {
  border-radius: 30px;
  width: 250px; 
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.flipCard .cardIcon {
  font-size: 5rem;
  margin-bottom: 10px;
}

.flipCard .cardTitle {
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}

.flipCard .notALink {
  color: #6c757d;
  font-size: 0.85rem;
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
  text-align: center;
} 

/* Accordion cards styles */
.accordionCard .accordionHeader {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordionCard .accordionShow {
  font-size: 1.75rem;
  color: #8675ff;
  
}

.accordionCard .accordionContent {
  color: #6c757d;
  width: 70%;
  padding-bottom: 20px;
  text-align: justify;
  line-height: 1.5rem;
}

.accordionCard .description:hover {
  text-decoration: underline;
}

/* mobile styles */
@media only screen and (max-width: 767px) {
    .main {
      width: 95%;
      margin: 0 auto;
    }

    /* Contribute cards styles */
    .flipCard {
      width: 250px; 
      height: 250px;
    }

    .flipCard .card {
      margin-bottom: 30px;
    }
  }